body {
  background: linear-gradient(to right, #dff9fb, #f6e58d);
  font-family: 'Segoe UI', sans-serif;
  color: #2d3436;
}

h1 {
  color: #2f3542;
}

#countdown {
  font-size: 2rem;
  font-weight: bold;
  color: #e17055;
}
